.contactUsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem 2rem;
}

.contactUsContainer h2 {
    font-size: 1.7rem;
    margin-bottom: 1.7rem;
}

.contactUsInputBoxes {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 22rem;
}

.contactUsInputBoxes input {
    margin-top: 1rem;
    padding: 1rem 1.2rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.contactUsInputBoxes input:focus {
  border-color: #0070f3;
  box-shadow: 0 0 0 2px rgba(0, 112, 243, 0.2);
  outline: none;
}

.contactUsCheckboxLabel {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    font-size: 0.95rem;
    max-width: 22rem;
}

.contactUsCheckboxLabel input[type="checkbox"] {
    margin-right: 0.6rem;
    width: 1.5rem;
    height: 1.5rem;
}

.contactUsSubmitButton {
    margin-top: 1.5rem;
    padding: 0.7rem 1.25rem;
    font-size: 1rem;
    background-color: #2984ec;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    max-width: 22rem;
    width: 100%;
}

.contactUsSubmitButton:hover {
    background-color: #005bb5;
}